@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.h2-forgotpassword {
  font-weight: 600;
}


.form-label-forgotpassword {
  font-weight: 500;
}


.container-forgotpassword {
    background: linear-gradient(to right, #808080, #A9A9A9);
    min-height: 100vh;
  }
  
.card-forgotpassword {
    background-color: beige;
    width: 400px;
    border-radius: 10px;
  }


.token-container {
    word-wrap: break-word; 
}

  