@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

.h2-registration {
  font-weight: 600;
  font-family: 'Poppins', sans-serif; 
}

.h6-registration{
  text-align: center;
  padding-top: 10px;
  font-family: 'Poppins', sans-serif; 
}

.form-label-registration, .input-registration {
  font-weight: 500;
  font-family: 'Poppins', sans-serif; 
}

.button-daftar-registration, .button-google-registration {
  font-weight: 600;
  font-family: 'Poppins', sans-serif; 
}

.linkContainer-registration {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap:5px;
    margin-bottom: -20px;
}

.link-registration, .p-registration, .h6-registration {
    font-family: 'Poppins', sans-serif; 
    font-size: 16px; 
  }

.link-registration {
    padding-bottom: 17px;
    font-family: 'Poppins', sans-serif; 
    font-size: 16px; 
    text-decoration: none; 
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.link-registration:hover{
    color: orange;
    transform: scale(1.05);
}

.container-registration {
  background: linear-gradient(to right, #808080, #A9A9A9);
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.card-registration{
    background-color: beige;
    width: 400px;
    border-radius: 10px;
    margin: 120px;
  }

  .line-registration {
    border-bottom: 2px solid black;
    margin-top: 5px;
    width: 90%;
}

.img-registration {
  width: 20px;
}
  